<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_Dr4RMPTGEemmEPh1n4C5AQ" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="L08-exercise02">
    <regions xmi:id="_Dr4ROvTGEemmEPh1n4C5AQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Dr5fUfTGEemmEPh1n4C5AQ">
        <outgoingTransitions xmi:id="_Dr6GbfTGEemmEPh1n4C5AQ" target="_Dr5fXfTGEemmEPh1n4C5AQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Dr5fXfTGEemmEPh1n4C5AQ" name="Hung up" incomingTransitions="_Dr6GbfTGEemmEPh1n4C5AQ _XE57YPTGEemmEPh1n4C5AQ _dZmzoPTGEemmEPh1n4C5AQ">
        <outgoingTransitions xmi:id="_K1DTUPTGEemmEPh1n4C5AQ" specification="Call detected" target="_K09zwPTGEemmEPh1n4C5AQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_K09zwPTGEemmEPh1n4C5AQ" name="Announcing" incomingTransitions="_K1DTUPTGEemmEPh1n4C5AQ">
        <outgoingTransitions xmi:id="_Sv3NwPTGEemmEPh1n4C5AQ" specification="Announcement complete" target="_SvzjYPTGEemmEPh1n4C5AQ"/>
        <outgoingTransitions xmi:id="_XE57YPTGEemmEPh1n4C5AQ" specification="" target="_Dr5fXfTGEemmEPh1n4C5AQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_SvzjYPTGEemmEPh1n4C5AQ" name="Recording" incomingTransitions="_Sv3NwPTGEemmEPh1n4C5AQ">
        <outgoingTransitions xmi:id="_dZmzoPTGEemmEPh1n4C5AQ" specification="Caller hangs up" target="_Dr5fXfTGEemmEPh1n4C5AQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_Dr4RN_TGEemmEPh1n4C5AQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Dr4RMPTGEemmEPh1n4C5AQ" measurementUnit="Pixel">
    <children xmi:id="_Dr44QPTGEemmEPh1n4C5AQ" type="Region" element="_Dr4ROvTGEemmEPh1n4C5AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Dr44Q_TGEemmEPh1n4C5AQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Dr44RPTGEemmEPh1n4C5AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Dr44RfTGEemmEPh1n4C5AQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Dr44RvTGEemmEPh1n4C5AQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_Dr5fUvTGEemmEPh1n4C5AQ" type="Entry" element="_Dr5fUfTGEemmEPh1n4C5AQ">
          <children xmi:id="_Dr5fVvTGEemmEPh1n4C5AQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Dr5fWfTGEemmEPh1n4C5AQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Dr5fWvTGEemmEPh1n4C5AQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Dr5fW_TGEemmEPh1n4C5AQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Dr5fV_TGEemmEPh1n4C5AQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dr5fWPTGEemmEPh1n4C5AQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Dr5fU_TGEemmEPh1n4C5AQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_Dr5fVPTGEemmEPh1n4C5AQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dr5fXPTGEemmEPh1n4C5AQ" x="70" y="20"/>
        </children>
        <children xmi:id="_Dr6GYPTGEemmEPh1n4C5AQ" type="State" element="_Dr5fXfTGEemmEPh1n4C5AQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_Dr6GZPTGEemmEPh1n4C5AQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Dr6GZfTGEemmEPh1n4C5AQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Dr6GZvTGEemmEPh1n4C5AQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Dr6GZ_TGEemmEPh1n4C5AQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Dr6GaPTGEemmEPh1n4C5AQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dr6GafTGEemmEPh1n4C5AQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Dr6GavTGEemmEPh1n4C5AQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Dr6GYfTGEemmEPh1n4C5AQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Dr6GYvTGEemmEPh1n4C5AQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Dr6Ga_TGEemmEPh1n4C5AQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dr6GbPTGEemmEPh1n4C5AQ" x="40" y="80"/>
        </children>
        <children xmi:id="_K0_B4PTGEemmEPh1n4C5AQ" type="State" element="_K09zwPTGEemmEPh1n4C5AQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_K0_B5PTGEemmEPh1n4C5AQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_K0_B5fTGEemmEPh1n4C5AQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_K0_B5vTGEemmEPh1n4C5AQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_K0_B5_TGEemmEPh1n4C5AQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_K0_o8PTGEemmEPh1n4C5AQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K0_o8fTGEemmEPh1n4C5AQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_K0_o8vTGEemmEPh1n4C5AQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_K0_B4fTGEemmEPh1n4C5AQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_K0_B4vTGEemmEPh1n4C5AQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_K0_o8_TGEemmEPh1n4C5AQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K0_B4_TGEemmEPh1n4C5AQ" x="291" y="80" width="114" height="53"/>
        </children>
        <children xmi:id="_Sv0KcvTGEemmEPh1n4C5AQ" type="State" element="_SvzjYPTGEemmEPh1n4C5AQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_Sv0xgPTGEemmEPh1n4C5AQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Sv0xgfTGEemmEPh1n4C5AQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Sv0xgvTGEemmEPh1n4C5AQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Sv0xg_TGEemmEPh1n4C5AQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Sv0xhPTGEemmEPh1n4C5AQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Sv0xhfTGEemmEPh1n4C5AQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Sv1YkPTGEemmEPh1n4C5AQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Sv0Kc_TGEemmEPh1n4C5AQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Sv0KdPTGEemmEPh1n4C5AQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Sv1YkfTGEemmEPh1n4C5AQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Sv0KdfTGEemmEPh1n4C5AQ" x="579" y="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dr44R_TGEemmEPh1n4C5AQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_Dr44QfTGEemmEPh1n4C5AQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dr5fUPTGEemmEPh1n4C5AQ" x="220" y="8" width="692" height="404"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_Dr6td_TGEemmEPh1n4C5AQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_Dr6tefTGEemmEPh1n4C5AQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Dr6tevTGEemmEPh1n4C5AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Dr6te_TGEemmEPh1n4C5AQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Dr7UgPTGEemmEPh1n4C5AQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dr7UgfTGEemmEPh1n4C5AQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dr7UgvTGEemmEPh1n4C5AQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Dr4ROPTGEemmEPh1n4C5AQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_Dr4ROfTGEemmEPh1n4C5AQ"/>
    <edges xmi:id="_Dr6tcPTGEemmEPh1n4C5AQ" type="Transition" element="_Dr6GbfTGEemmEPh1n4C5AQ" source="_Dr5fUvTGEemmEPh1n4C5AQ" target="_Dr6GYPTGEemmEPh1n4C5AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Dr6tdPTGEemmEPh1n4C5AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Dr6tdfTGEemmEPh1n4C5AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Dr6tdvTGEemmEPh1n4C5AQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Dr6tcfTGEemmEPh1n4C5AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Dr6tc_TGEemmEPh1n4C5AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Dr6tcvTGEemmEPh1n4C5AQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_K1D6YPTGEemmEPh1n4C5AQ" type="Transition" element="_K1DTUPTGEemmEPh1n4C5AQ" source="_Dr6GYPTGEemmEPh1n4C5AQ" target="_K0_B4PTGEemmEPh1n4C5AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_K1D6ZPTGEemmEPh1n4C5AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_K1D6ZfTGEemmEPh1n4C5AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_K1D6ZvTGEemmEPh1n4C5AQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_K1D6YfTGEemmEPh1n4C5AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_K1D6Y_TGEemmEPh1n4C5AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_K1D6YvTGEemmEPh1n4C5AQ" points="[34, 22, -227, 23]$[217, 22, -44, 23]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Max7APTGEemmEPh1n4C5AQ" id="(0.41158536585365857,0.4931506849315069)"/>
    </edges>
    <edges xmi:id="_Sv300PTGEemmEPh1n4C5AQ" type="Transition" element="_Sv3NwPTGEemmEPh1n4C5AQ" source="_K0_B4PTGEemmEPh1n4C5AQ" target="_Sv0KcvTGEemmEPh1n4C5AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Sv4b4PTGEemmEPh1n4C5AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Sv4b4fTGEemmEPh1n4C5AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Sv4b4vTGEemmEPh1n4C5AQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Sv300fTGEemmEPh1n4C5AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Sv300_TGEemmEPh1n4C5AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Sv300vTGEemmEPh1n4C5AQ" points="[-81, -26, 441, 134]$[-518, -159, 4, 1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TtFD8PTGEemmEPh1n4C5AQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_XE6icPTGEemmEPh1n4C5AQ" type="Transition" element="_XE57YPTGEemmEPh1n4C5AQ" source="_K0_B4PTGEemmEPh1n4C5AQ" target="_Dr6GYPTGEemmEPh1n4C5AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_XE6idPTGEemmEPh1n4C5AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XE6idfTGEemmEPh1n4C5AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XE6idvTGEemmEPh1n4C5AQ" x="10" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XE6icfTGEemmEPh1n4C5AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XE6ic_TGEemmEPh1n4C5AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XE6icvTGEemmEPh1n4C5AQ" points="[-29, 20, 217, -4]$[-212, 20, 34, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XE8XoPTGEemmEPh1n4C5AQ" id="(0.2719298245614035,0.0)"/>
    </edges>
    <edges xmi:id="_dZnasPTGEemmEPh1n4C5AQ" type="Transition" element="_dZmzoPTGEemmEPh1n4C5AQ" source="_Sv0KcvTGEemmEPh1n4C5AQ" target="_Dr6GYPTGEemmEPh1n4C5AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_dZoBwPTGEemmEPh1n4C5AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dZoBwfTGEemmEPh1n4C5AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dZoBwvTGEemmEPh1n4C5AQ" x="5" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dZnasfTGEemmEPh1n4C5AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dZnas_TGEemmEPh1n4C5AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dZnasvTGEemmEPh1n4C5AQ" points="[14, 48, 568, 35]$[14, 172, 568, 159]$[-531, 172, 23, 159]$[-531, 48, 23, 35]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dZp28PTGEemmEPh1n4C5AQ" id="(0.35294117647058826,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dZp28fTGEemmEPh1n4C5AQ" id="(0.2054794520547945,0.2830188679245283)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
