# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# UML file
*.mdzip.bak
YakinduProjects/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
YakinduProjects/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/1/000fd5e3c0f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/33/b0078eadc2f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/5d/30f2ffc0c3f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/5e/b0968badc2f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/5f/d0c85765c4f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/63/6027f4aec2f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/7d/800390adc2f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/88/e0c349bac2f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/a4/f08593adc2f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/c6/602692adc2f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/ea/b05a95adc2f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/fe/60f36a60c4f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/org.yakindu.sct.examples.basic.tutorial/.indexes/history.index
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/org.yakindu.sct.examples.basic.tutorial/.markers.snap
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/org.yakindu.sct.examples.basic.tutorial/.syncinfo.snap
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/SML08/.indexes/af/history.index
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/SML08/.indexes/history.index
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/SML08/.markers.snap
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/SML08/.syncinfo.snap
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/0.snap
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.gmf.runtime.emf.core.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
YakinduProjects/.metadata/.plugins/org.eclipse.debug.core/.launches/01_light_switch.sct.launch
YakinduProjects/.metadata/.plugins/org.eclipse.debug.core/.launches/02_light_switch.sct.launch
YakinduProjects/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
YakinduProjects/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1051224673.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1097961887.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1168749469.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/119167006.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1233919542.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1241298325.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1277703385.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1384621597.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1401678300.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/144380394.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1460354455.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1494155255.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1498911603.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1729993880.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1738848555.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1826988165.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1845031563.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1849447088.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1860485910.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1915979042.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1942359185.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/1943575548.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/202638269.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/2212132764.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/2223235961.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/2492909726.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/2673366256.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/2797338771.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/2818760043.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/2856772061.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/2899478204.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/296021163.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/2989929902.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/314372824.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3227056335.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3263897811.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3265843125.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3290630295.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/335358931.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/336289447.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3378988658.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3421597620.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3423940898.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3553478060.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/361606942.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3732353498.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3763250859.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/378939975.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3790807000.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3852737441.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/3857565606.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/4038257020.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/4158867658.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/4212195811.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/4245471968.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/4270463773.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/478556587.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/531533494.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/667800537.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/693496220.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/697106488.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/765077991.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/897659091.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/925216232.index
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/index.db
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
YakinduProjects/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/SML08/2019/10/43/refactorings.history
YakinduProjects/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/SML08/2019/10/43/refactorings.index
YakinduProjects/.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.fileTableLock
YakinduProjects/.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.tmp6900415198543492695.instance
YakinduProjects/.metadata/.plugins/org.eclipse.pde.core/.local_targets/1571745258494.target
YakinduProjects/.metadata/.plugins/org.eclipse.pde.core/SavedExternalPluginList.txt
YakinduProjects/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
YakinduProjects/.metadata/.plugins/org.eclipse.xtend.ide/resource.change.registry
YakinduProjects/.metadata/.lock
YakinduProjects/.metadata/version.ini
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.history/af/20740c9cc4f400191ffebeaba2fe1e2f
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/SM_StateModelling/.indexes/af/history.index
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/SM_StateModelling/.indexes/history.index
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/SM_StateModelling/.markers.snap
YakinduProjects/.metadata/.plugins/org.eclipse.core.resources/.projects/SM_StateModelling/.syncinfo.snap
YakinduProjects/.metadata/.plugins/org.eclipse.jdt.core/2748033178.index
YakinduProjects/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/10/43/refactorings.history
YakinduProjects/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/10/43/refactorings.index
YakinduProjects/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/SM_StateModelling/2019/10/43/refactorings.history
YakinduProjects/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/SM_StateModelling/2019/10/43/refactorings.index
YakinduProjects/.metadata/

TLAProjects/payment.toolbox/
