<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_DCzqMIeiEeWfCczc9Zr3rA" specification="@EventDriven&#xA;&#xA;interface Buttons:&#xA;in event topLeftPressed&#xA;in event topLeftReleased&#xA;in event topRightPressed&#xA;in event topRightReleased&#xA;in event botLeftPressed&#xA;in event botLeftReleased&#xA;in event botRightPressed&#xA;in event botRightReleased&#xA;&#xA;interface Display:&#xA;operation refreshTimeDisplay()&#xA;operation refreshChronoDisplay()&#xA;operation setIndiglo()&#xA;operation unsetIndiglo()&#xA;operation hidePos(pos: integer)&#xA;&#xA;interface LogicUnit:&#xA;operation increaseTimeByOne()&#xA;operation increaseChronoByOne()&#xA;operation resetChrono()&#xA;operation increasePos(pos: integer)&#xA;&#xA;internal:&#xA;var n: integer" name="digitalwatch">
    <regions xmi:id="_DC04UoeiEeWfCczc9Zr3rA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_DC4isYeiEeWfCczc9Zr3rA">
        <outgoingTransitions xmi:id="_dMx7QO5cEeiKdpJzEd8gZw" specification="" target="_W8V38O5cEeiKdpJzEd8gZw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_W8V38O5cEeiKdpJzEd8gZw" specification="entry /&#xA;  Display.refreshTimeDisplay;&#xA;  Display.unsetIndiglo" name="Dead" incomingTransitions="_dMx7QO5cEeiKdpJzEd8gZw _WrOdUO5dEeiKdpJzEd8gZw">
        <outgoingTransitions xmi:id="_VK7IMO5dEeiKdpJzEd8gZw" specification="after 200ms" target="_R_MzEO5dEeiKdpJzEd8gZw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_R_MzEO5dEeiKdpJzEd8gZw" specification="entry / &#xA;  Display.setIndiglo;&#xA;  LogicUnit.increaseTimeByOne;&#xA;  Display.hidePos(n);&#xA;  n = (n+1) % 6" name="Alive" incomingTransitions="_VK7IMO5dEeiKdpJzEd8gZw">
        <outgoingTransitions xmi:id="_WrOdUO5dEeiKdpJzEd8gZw" specification="after 200ms" target="_W8V38O5cEeiKdpJzEd8gZw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_DC04UIeiEeWfCczc9Zr3rA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_DCzqMIeiEeWfCczc9Zr3rA" measurementUnit="Pixel">
    <children xmi:id="_DC2GcIeiEeWfCczc9Zr3rA" type="Region" element="_DC04UoeiEeWfCczc9Zr3rA">
      <children xsi:type="notation:DecorationNode" xmi:id="_DC37oIeiEeWfCczc9Zr3rA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DC37oYeiEeWfCczc9Zr3rA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DC37ooeiEeWfCczc9Zr3rA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_DC37o4eiEeWfCczc9Zr3rA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_DC4isoeiEeWfCczc9Zr3rA" type="Entry" element="_DC4isYeiEeWfCczc9Zr3rA">
          <children xmi:id="_DC5JwIeiEeWfCczc9Zr3rA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_DC5Jw4eiEeWfCczc9Zr3rA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_DC5JxIeiEeWfCczc9Zr3rA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_DC5JxYeiEeWfCczc9Zr3rA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_DC5JwYeiEeWfCczc9Zr3rA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DC5JwoeiEeWfCczc9Zr3rA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_DC4is4eiEeWfCczc9Zr3rA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DC5JxoeiEeWfCczc9Zr3rA" x="37" y="5" width="15" height="15"/>
        </children>
        <children xmi:id="_W8Y7QO5cEeiKdpJzEd8gZw" type="State" element="_W8V38O5cEeiKdpJzEd8gZw">
          <children xsi:type="notation:DecorationNode" xmi:id="_W8ZiUO5cEeiKdpJzEd8gZw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_W8ZiUe5cEeiKdpJzEd8gZw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_W8aJYO5cEeiKdpJzEd8gZw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_W8aJYe5cEeiKdpJzEd8gZw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_W8awcO5cEeiKdpJzEd8gZw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8awce5cEeiKdpJzEd8gZw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_W8awcu5cEeiKdpJzEd8gZw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_W8Y7Qe5cEeiKdpJzEd8gZw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_W8Y7Qu5cEeiKdpJzEd8gZw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W8awc-5cEeiKdpJzEd8gZw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8Y7Q-5cEeiKdpJzEd8gZw" x="9" y="57" width="214" height="94"/>
        </children>
        <children xmi:id="_R_NaIu5dEeiKdpJzEd8gZw" type="State" element="_R_MzEO5dEeiKdpJzEd8gZw">
          <children xsi:type="notation:DecorationNode" xmi:id="_R_OBMO5dEeiKdpJzEd8gZw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_R_OBMe5dEeiKdpJzEd8gZw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_R_OBMu5dEeiKdpJzEd8gZw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_R_OBM-5dEeiKdpJzEd8gZw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_R_OBNO5dEeiKdpJzEd8gZw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_R_OBNe5dEeiKdpJzEd8gZw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_R_OBNu5dEeiKdpJzEd8gZw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_R_NaI-5dEeiKdpJzEd8gZw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_R_NaJO5dEeiKdpJzEd8gZw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_R_OBN-5dEeiKdpJzEd8gZw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_R_NaJe5dEeiKdpJzEd8gZw" x="9" y="217" width="234" height="129"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DC37pIeiEeWfCczc9Zr3rA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_DC2GcYeiEeWfCczc9Zr3rA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DC4isIeiEeWfCczc9Zr3rA" x="12" y="10" width="573" height="411"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_DC8NEIeiEeWfCczc9Zr3rA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_DC8NEoeiEeWfCczc9Zr3rA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DC8NE4eiEeWfCczc9Zr3rA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DC8NFIeiEeWfCczc9Zr3rA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_DC8NFYeiEeWfCczc9Zr3rA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DC8NFoeiEeWfCczc9Zr3rA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DC80IIeiEeWfCczc9Zr3rA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_DC04UYeiEeWfCczc9Zr3rA"/>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="__-M9AOWvEeivHbtjqPJ_IQ" name="inlineDefinitionSection"/>
    <edges xmi:id="_dM0XgO5cEeiKdpJzEd8gZw" type="Transition" element="_dMx7QO5cEeiKdpJzEd8gZw" source="_DC4isoeiEeWfCczc9Zr3rA" target="_W8Y7QO5cEeiKdpJzEd8gZw">
      <children xsi:type="notation:DecorationNode" xmi:id="_dM0-ke5cEeiKdpJzEd8gZw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dM0-ku5cEeiKdpJzEd8gZw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dM1loO5cEeiKdpJzEd8gZw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dM0Xge5cEeiKdpJzEd8gZw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dM0-kO5cEeiKdpJzEd8gZw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dM0Xgu5cEeiKdpJzEd8gZw" points="[1, 6, 1, -59]$[1, 45, 1, -20]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dM3a0O5cEeiKdpJzEd8gZw" id="(0.16822429906542055,0.23404255319148937)"/>
    </edges>
    <edges xmi:id="_VK8WUO5dEeiKdpJzEd8gZw" type="Transition" element="_VK7IMO5dEeiKdpJzEd8gZw" source="_W8Y7QO5cEeiKdpJzEd8gZw" target="_R_NaIu5dEeiKdpJzEd8gZw">
      <children xsi:type="notation:DecorationNode" xmi:id="_VK89Ye5dEeiKdpJzEd8gZw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VK89Yu5dEeiKdpJzEd8gZw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VK89Y-5dEeiKdpJzEd8gZw" x="1" y="-39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VK8WUe5dEeiKdpJzEd8gZw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VK89YO5dEeiKdpJzEd8gZw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VK8WUu5dEeiKdpJzEd8gZw" points="[1, 4, 1, -33]$[1, 35, 1, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VK-ykO5dEeiKdpJzEd8gZw" id="(0.19158878504672897,0.9574468085106383)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VK-yke5dEeiKdpJzEd8gZw" id="(0.1748561400644819,0.022770398481973434)"/>
    </edges>
    <edges xmi:id="_WrPEYO5dEeiKdpJzEd8gZw" type="Transition" element="_WrOdUO5dEeiKdpJzEd8gZw" source="_R_NaIu5dEeiKdpJzEd8gZw" target="_W8Y7QO5cEeiKdpJzEd8gZw">
      <children xsi:type="notation:DecorationNode" xmi:id="_WrPEZO5dEeiKdpJzEd8gZw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WrPEZe5dEeiKdpJzEd8gZw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WrPEZu5dEeiKdpJzEd8gZw" x="-2" y="43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WrPEYe5dEeiKdpJzEd8gZw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WrPEY-5dEeiKdpJzEd8gZw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WrPEYu5dEeiKdpJzEd8gZw" points="[4, -1, 4, 34]$[4, -32, 4, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WrQSgO5dEeiKdpJzEd8gZw" id="(0.6354528016977513,0.015180265654648957)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WrQSge5dEeiKdpJzEd8gZw" id="(0.6962616822429907,0.9680851063829787)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
